<div class="login-container">
  <div class="login-form">
    <div class="login-form-content">
      <h2 class="tieude">Welcome to Hulo!</h2>
      <form>
          <label for="email">Email</label>
          <input
              type="email"
              id="email"
              name="email"
              required
          />

          <label for="password">Mật Khẩu</label>
          <input
              type="password"
              id="password"
              name="password"
              required
          />

          <div class="remember">
              <input type="checkbox" id="remember" />
              <label for="remember">Lưu tài khoản</label>
          </div>

          <button class="signin" type="submit">Đăng Nhập</button>
          
          <div class="social-login">
              <button class="google-btn">
                  <img src="https://img.icons8.com/color/16/000000/google-logo.png" />
                  Google
              </button>
          
              <button class="apple-btn">
                  <img src="https://img.icons8.com/ios-filled/16/000000/mac-os.png" />
                  Apple
              </button>
          </div>
      </form>
    </div>
    
  </div>
  <div class="login-image">
    <img src="assets/loginpic.jpg" alt="Jordan" />
  </div>
</div>
