<div class="login-container">
  <div class="login-form">
    <div class="login-form-content">
      <h2 class="tieude">Welcome to Hulo!</h2>
      <form (ngSubmit)="onLogin()">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
        />

        <label for="password">Mật Khẩu</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
        />

        <div class="remember">
          <input type="checkbox" id="remember" [(ngModel)]="rememberMe"/>
          <label for="remember">Lưu tài khoản</label>
          <a class="dangki" href="register">
            Đăng kí tài khoản
          </a>
        </div>
        <button class="signin" type="submit">Đăng Nhập</button>
        <div class="chia">
          <span>
              OR
          </span>
        </div>
        <button class="back">
          <a href="trang-chu">Quay lại trang chủ</a>
        </button>
      </form>
    </div>
  </div>
  <div class="login-image">
    <img src="assets/loginpic.jpg" alt="Jordan" />
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger error-message">
  {{ errorMessage }}
</div>
