<div class="container mt-4">
    <h3>Thêm Sản Phẩm vào Phiếu Kho: {{ idPhieuKho }}</h3>
    <form (ngSubmit)="themSanPham()" #formSP="ngForm">
        <div class="mb-3">
            <label for="idSanPham">ID Sản Phẩm</label>
            <select class="form-select" [(ngModel)]="sanPham.idSanPham" name="idSanPham"  (change)="onSanPhamChange()" required #idSanPham="ngModel">
                <option value="" disabled selected>-- Chọn sản phẩm --</option>
                <option *ngFor="let sp of danhSachSanPham" [value]="sp.idSanPham">
                  {{ sp.ten }} ----- {{ sp.idSanPham }}
                </option>
            </select>
            <div *ngIf="idSanPham.invalid && idSanPham.touched" class="text-danger">
              Vui lòng chọn sản phẩm.
            </div>  
          </div>
      <div class="mb-3">
        <label>Số Lượng</label>
        <input
         type="number" class="form-control" [(ngModel)]="sanPham.soLuong" (ngModelChange)="capNhatSoLuongTuDong()"
          name="soLuong" min="-1" required  #soLuong="ngModel" [readonly]="true">
        <div *ngIf="soLuong.invalid && soLuong.touched" class="text-danger">
          Nhập số lượng.
        </div>
      </div>
      <div class="mb-3">
        <label>Số Lượng Nhập</label>
        <input
            type="number" class="form-control" [(ngModel)]="sanPham.soLuongNhap"
            name="soLuongNhap" min="-1" required #soLuongNhap="ngModel"
            (ngModelChange)="capNhatSoLuongTuDong()">
        <div *ngIf="soLuongNhap.invalid && soLuongNhap.touched" class="text-danger">
          Số lượng nhập.
        </div>
      </div>
      <div class="mb-3">
        <label>Số Lượng Xuất</label>
        <input
            type="number" class="form-control" [(ngModel)]="sanPham.soLuongXuat"
            name="soLuongXuat" min="-1" required #soLuongXuat="ngModel"
            (ngModelChange)="capNhatSoLuongTuDong()">
        <div *ngIf="soLuongXuat.invalid && soLuongXuat.touched" class="text-danger">
          Số lượng xuất.
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="formSP.invalid">Thêm</button>
      <button class="btn btn-secondary ms-2" [routerLink]="['/admin/kho', idPhieuKho]">Hủy</button>
    </form>
  </div>
  