<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Danh sách sản phẩm</h2>
    <button class="btn btn-success">Thêm sản phẩm</button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Hãng</th>
        <th>Size</th>
        <th>Thông tin</th>
        <th>Ảnh</th> 
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sp of sanPhams">
        <td>{{ sp.idSanPham }}</td>
        <td>{{ sp.ten }}</td>
        <td>{{ sp.gia }}</td>
        <td>{{ sp.hang }}</td>
        <td>{{ sp.size }}</td>
        <td>{{ sp.thongtin }}</td>
        <td>
          <img *ngIf="sp.anh" [src]="'data:image/jpeg;base64,' + sp.anh" width="100" height="100" alt="Ảnh sản phẩm" />
        </td>
        <td class="abc">
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>