header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 50;
}

header .logo img {
    width: 100px;
    height: auto;
}

header nav a {
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

header nav a.active {
    font-weight: bold;
    color: #007bff; 
    text-decoration: underline;
}

header nav a:hover {
    color: #000;
    text-decoration: underline;
}

header .icons i {
    font-size: 1.25rem;
    color: #4b4b4b;
    cursor: pointer;
    margin-right: 1rem;
}

header .icons i:hover {
    color: #000;
}
