<div class="register-container">
  <div class="register-form">
    <div class="register-form-content">
      <h2 class="tieude">Đăng Ký Tài Khoản</h2>
      <form [formGroup]="khachHangForm" (ngSubmit)="onSubmit()">
        <label for="IdKhachHang">Mã Khách Hàng</label>
        <input
          id="IdKhachHang"
          formControlName="IdKhachHang"
          class="form-control"
          placeholder="Nhập mã khách hàng"
        />
        <div
          *ngIf="
            khachHangForm.get('IdKhachHang')?.invalid &&
            khachHangForm.get('IdKhachHang')?.touched
          "
          class="text-danger"
        >
          Mã khách hàng là bắt buộc.
        </div>

        <label for="HoTen">Họ Tên</label>
        <input
          id="HoTen"
          formControlName="HoTen"
          class="form-control"
          placeholder="Nhập họ tên"
        />
        <div
          *ngIf="
            khachHangForm.get('HoTen')?.invalid &&
            khachHangForm.get('HoTen')?.touched
          "
          class="text-danger"
        >
          Họ tên là bắt buộc.
        </div>

        <label for="SoDienThoai">Số Điện Thoại</label>
        <input
          id="SoDienThoai"
          formControlName="SoDienThoai"
          class="form-control"
          placeholder="Nhập số điện thoại"
        />
        <div
          *ngIf="
            khachHangForm.get('SoDienThoai')?.invalid &&
            khachHangForm.get('SoDienThoai')?.touched
          "
          class="text-danger"
        >
          Số điện thoại phải là 10 chữ số.
        </div>

        <label for="Email">Email</label>
        <input
          id="Email"
          formControlName="Email"
          class="form-control"
          placeholder="Nhập email"
        />
        <div
          *ngIf="
            khachHangForm.get('Email')?.invalid &&
            khachHangForm.get('Email')?.touched
          "
          class="text-danger"
        >
          Email không hợp lệ.
        </div>

        <label for="Passwords">Mật Khẩu</label>
        <input
          id="Passwords"
          type="password"
          formControlName="Passwords"
          class="form-control"
          placeholder="Nhập mật khẩu"
        />
        <div
          *ngIf="
            khachHangForm.get('Passwords')?.invalid &&
            khachHangForm.get('Passwords')?.touched
          "
          class="text-danger"
        >
          Mật khẩu phải có ít nhất 6 ký tự.
        </div>

        <button type="submit" class="signin" [disabled]="khachHangForm.invalid">
          Đăng kí
        </button>
        <a href="login" class="dangnhap-link"
          >Quay lại trang đăng nhập</a
        >
      </form>

      <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </div>
  </div>

  <div class="register-image">
    <img src="assets/loginpic.jpg" alt="Jordan" />
  </div>
</div>
