<div class="container mt-5">
    <h2>Tạo Khuyến Mãi Mới</h2>
    <form #formKhuyenMai="ngForm" (ngSubmit)="taoKhuyenMai()">
      <div class="mb-3">
        <label for="idKhuyenMai" class="form-label">Mã Khuyến Mãi:</label>
        <input type="text" id="idKhuyenMai" name="idKhuyenMai" [(ngModel)]="khuyenMai.idkhuyenmai" class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="PhanTramKm" class="form-label">Phần Trăm Giảm:</label>
        <input type="number"
        id="PhanTramKm"
        name="PhanTramKm"
        [(ngModel)]="khuyenMai.PhanTramKm"
        class="form-control"
        required
       />
      </div>
      <button type="submit" class="btn btn-success">Thêm Khuyến Mãi</button>
    </form>
  </div>