<div class="item-container">
  <div class="header-section">
    <div class="text-content">Giày Nữ</div>
    <div class="sort-section">
      <select [(ngModel)]="selectedSortOption" (change)="sortProducts()">
        <option value="">Sắp xếp theo</option>
        <option value="price-asc">Giá: Thấp đến cao</option>
        <option value="price-desc">Giá: Cao đến thấp</option>
        <option value="name-asc">Tên: A-Z</option>
        <option value="name-desc">Tên: Z-A</option>
      </select>
    </div>
  </div>
  <div class="product-list">
    <div class="product-card" *ngFor="let sp of giayNu">
      <img
        *ngIf="sp.anh"
        [src]="'data:image/jpeg;base64,' + sp.anh"
        alt="{{ sp.ten }}"
        class="product-image"
      />

      <h3 (click)="viewProductDetail(sp.idSanPham)" style="cursor: pointer">
        {{ sp.ten }}
      </h3>
      <p>Hãng: {{ sp.hang }}</p>
      <p>Giá: {{ sp.gia | currency : "VND" }}</p>

      <p *ngIf="sp.soLuongTon === 0" style="color: red; font-weight: bold">
        Hết hàng
      </p>

      <button
        *ngIf="sp.soLuongTon > 0"
        (click)="addToCart(sp); $event.stopPropagation()"
        class="add-to-cart-button"
      >
        Thêm vào giỏ
      </button>
    </div>
  </div>
</div>
